/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

/* Custom */
.title {
    font-size: 2rem;
    display: flex;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#header {
  display: flex;
}

.card {
  padding: 1rem;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

/* Form */
.events-form {
  margin-top: 20px;
}

/* Events list */
.datetime-column {
  width: 10%;
}
.action-column {
  width: 10%;
}
.label-column {
  width: 40%;
}
.location-column {
  width: 40%;
}

.delete-button, .edit-button {
  cursor: pointer;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: white;
}

.middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
}

/* Messages */
#toast-container {
  top: auto !important;
  left: auto !important;
  bottom: 10%;
  right:10%;  
}